<div class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">testb2</a>

            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="https://firebasestorage.googleapis.com/v0/b/ndnam0109-a9555.appspot.com/o/testB2%2Fchild-1837375_960_720.png?alt=media&token=0f55a408-b26b-48aa-ae36-a9e94d0e48c7" alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">
              <strong>{{userName}}</strong>
            </span>
                    <span class="user-role">Administrator</span>
                    <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar">
                        <a href="#">
                            <i class="fa fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                            <span class="badge badge-pill badge-warning">New</span>
                        </a>

                    </li>
                    <li class="sidebar">
                        <a href="#">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Question</span>
                            <span class="badge badge-pill badge-danger">3</span>
                        </a>

                    </li>
                    <li class="sidebar">
                        <a href="#">
                            <i class="far fa-gem"></i>
                            <span>Category</span>
                        </a>

                    </li>
                    <li class="sidebar">
                        <a href="#">
                            <i class="fa fa-chart-line"></i>
                            <span>Comment</span>
                        </a>

                    </li>
                    <li class="sidebar">
                        <a href="#">
                            <i class="fa fa-globe"></i>
                            <span>HistoryTest</span>
                        </a>

                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>User</span>
                            <span class="badge badge-pill badge-primary">Beta</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-calendar"></i>
                            <span>RepComment</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-folder"></i>
                            <span>Role</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="#">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class=" ">
            <button class="btn btn-outline-warning pull-right" (click)="redirect()">Trang Client</button>
            <button class=" btn btn-outline-danger pull-right" (click)="onLogOut()">Sign Out</button>
        </div>
    </nav>
</div>
<ngx-spinner bdColor="rgba(0,0,0,0.1)" size="large" color="#dceb4e" type="ball-zig-zag-deflect" [fullScreen]="true">
    <p style="color: white"></p>
</ngx-spinner>