<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Cấu trúc đề thi và hướng dẫn</h1>

            <!-- Blog Post -->
            <div class="card mb-4">

                <div class="card-body">
                    <ul>

                        <li>Số câu trả lời đúng:</li>
                        <li>Số câu trả lời sai:</li>
                        <li>Số câu chưa trả lời:</li>

                    </ul>

                    <button class="btn btn-info" routerLink="//testB2/vao-thi/dap-an" routerLinkActive="active">Xem đáp án</button>

                </div>

            </div>
            <!-- Blog Post -->

        </div>



        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="pipe">
                <div class="anchor" id="id_anchor"></div>
                <div class="content" id="id_content">




                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Mẹo chọn đáp án</h5>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!</div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>