<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-5 image">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-7">
            <h1 class="font-weight-light">Nguyen Dang Nam</h1>
            <p>Hi! I'm Nam ! My goal for the next 5 years is to become a Java Developer Fullstack. With passion and hard work, I try to improve myself and contribute to the community</p>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
        <div class="row ">
            <i class="devicon-java-plain-wordmark colored  dev-icon" title="Java"> </i> <i class="devicon-javascript-plain colored dev-icon" title="JavaScript"></i> <i class="devicon-html5-plain-wordmark colored dev-icon" title="Html"></i>
            <i class="devicon-css3-plain-wordmark colored dev-icon" title="Css"></i>
            <i class="devicon-mysql-plain colored dev-icon" title="MySQL"></i> <i class="devicon-github-original colored dev-icon" title="Github"></i>
            <i class="devicon-visualstudio-plain dev-icon colored" title="VSCode"></i>
            <i class="devicon-angularjs-plain colored dev-icon" title="Angular"></i>
            <i class="devicon-bootstrap-plain colored dev-icon" title="BootStrap"></i>
        </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <h3 class="card-header">Programming language</h3>
                <div class="card-body">
                    <ul>
                        <li>
                            <p class="card-text">Java Core</p>
                        </li>
                        <li>
                            <p class="card-text">Html, Css, JS</p>
                        </li>
                        <li>
                            <p class="card-text">MySQL</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <h3 class="card-header">Tools</h3>
                <div class="card-body">
                    <ul>
                        <li>
                            <p class="card-text">Git, GitHub</p>
                        </li>
                        <li>
                            <p class="card-text">Eclipse, VSCode, IntelliJ</p>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <h3 class="card-header">Framework</h3>
                <div class="card-body">

                    <ul>
                        <li>
                            <p class="card-text">Spring MVC, Spring Boot</p>
                        </li>
                        <li>
                            <p class="card-text">Angular</p>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
        <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

</div>
