<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Cấu trúc đề thi và hướng dẫn</h1>

            <!-- Blog Post -->
            <div class="card mb-4">

                <div class="card-body">
                    <ul>

                        <li>Sẽ có tổng số 35 câu hỏi được lấy ngẫu nhiên từ bộ đề 600 câu</li>
                        <li>Thời gian làm bài: 22 phút.</li>
                        <li>Mỗi câu hỏi trong đề sát hạch có từ 02 đến 04 ý trả lời và chỉ có 01 ý trả lời đúng nhất.</li>
                        <li>Trong số các câu hỏi, có 01 câu trả lời sai (câu hỏi điểm liệt) sẽ bị truất quyền sát hạch.
                            <a href="">(Xem 60 câu hỏi điểm liệt)</a> </li>
                        <li>Các câu còn lại, mỗi câu tính 01 điểm.</li>
                        <li>Kết thúc bài thi, thí sinh đạt 32/35 điểm trở lên và không sai câu hỏi điểm liệt là ĐẠT.</li>
                    </ul>

                </div>

            </div>
            <!-- Blog Post -->
            <div>
                <button class="btn btn-danger" routerLink="bai-thi" routerLinkActive="active">Bắt đầu thi</button>
            </div>
        </div>



        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="pipe">
                <div class="anchor" id="id_anchor"></div>
                <div class="content" id="id_content">




                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Mẹo chọn đáp án</h5>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!</div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>